{% extends "base.html" %}

{% block head %}
    <title>导师有约 —— 预约</title>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <form id='form-new' class="form-horizontal">
                            <fieldset>
                                <legend>创建预约</legend>
                                <div class="form-group">
                                    <label for="men_id" class="col-md-3 control-label">导师工号</label>
                                    <div class="col-md-6">
                                        {{ form.men_id(class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-md-3 control-label">描述</label>
                                    <div class="col-md-6">
                                        {{ form.description(class='form-control') }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button onclick="ajax_submit()" class="btn btn-default">提交</button>
                                    </div>
                                    <script>
                                        var csrftoken = "{{ csrf_token()|safe }}";

                                        //Croxx:这里用来获取CSRF-TOKEN

                                        function ajax_submit() {

                                            $.ajax({
                                                type: "POST",
                                                url: "/ajax/appointment/new",
                                                data: $('#form-new').serialize(),
                                                dataType: 'json',
                                                async: false,
                                                beforeSend: function (xhr, settings) {
                                                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                                                    //Croxx:这段代码用来设置CSRF-TOKEN 务必保留
                                                },
                                                error: function (request) {
                                                    alert(request.responseText);
                                                },
                                                success: function (data) {
                                                    alert(data.status)
                                                    //Croxx:状态，SUCCESS：20000 BAD：40000
                                                    //详见config.py
                                                }
                                            });


                                        }
                                    </script>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}