{% extends "base.html" %}
{% from 'macros.html' import department_options,tag1_options,tag2_options %}

{% block head %}
    <title>导师有约管理系统 —— 学生查询</title>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2>学生查询</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">学生检索</div>
                            </div>
                            <div class="panel-body">

                                <form class="form-horizontal" method="post">
                                    <fieldset>
                                        <legend>条件检索</legend>
                                        {{ form.hidden_tag() }}

                                        <div class="form-group">
                                            <label for="id" class="col-md-3 control-label">学号</label>
                                            <div class="col-md-6">
                                                {{ form.id(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-md-3 control-label">姓名</label>
                                            <div class="col-md-6">
                                                {{ form.name(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="department" class="col-md-3 control-label">学院</label>
                                            <div class="col-md-6">
                                                <select id="department" name="department" class="form-control">
                                                    {{ department_options() }}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="grade" class="col-md-3 control-label">入学年份</label>
                                            <div class="col-md-6">
                                                {{ form.grade(class="form-control") }}
                                                <p><font style="color: red">*入学年份按照学号前两位检索</font> </p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary" style="width: 100%">搜索</button>
                                            </div>
                                        </div>


                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table id="table_mentors" class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-md-2">学号</th>
                                    <th class="col-md-2">姓名</th>
                                    <th class="col-md-2">学院</th>
                                    <th class="col-md-2">预约数</th>
                                    <th class="col-md-3">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for stu in stus %}
                                    <tr>
                                        <td>{{ stu.id }}</td>
                                        <td>{{ stu.name }}</td>
                                        <td>{{ stu.getDepartmentString() }}</td>
                                        <td>{{ stu.getAppointmentCount() }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

{% endblock %}