{% extends "base.html" %}
{% from 'macros.html' import department_options,tag1_options,tag2_options,department_all_options %}

{% block head %}
    <title>导师有约管理系统 —— 导师查询</title>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2>导师查询</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">导师检索</div>
                            </div>
                            <div class="panel-body">

                                <form class="form-horizontal" method="post">
                                    <fieldset>
                                        <legend>条件检索</legend>
                                        {{ form.hidden_tag() }}

                                        <div class="form-group">
                                            <label for="id" class="col-md-3 control-label">工号</label>
                                            <div class="col-md-6">
                                                {{ form.id(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="name" class="col-md-3 control-label">姓名</label>
                                            <div class="col-md-6">
                                                {{ form.name(class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="department" class="col-md-3 control-label">部门</label>
                                            <div class="col-md-6">
                                                <select id="department" name="department" class="form-control">
                                                    {{ department_all_options() }}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary" style="width: 100%">搜索
                                                </button>
                                            </div>
                                        </div>


                                    </fieldset>

                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="btn btn-primary" data-toggle="modal"
                                 data-target="#upload-modal" style="width: 100%">
                                <span class="glyphicon glyphicon-upload"></span> 导入导师信息
                                <br>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <table id="table_mentors" class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-md-2">工号</th>
                                    <th class="col-md-2">姓名</th>
                                    <th class="col-md-3">部门</th>
                                    <th class="col-md-2">预约数</th>
                                    <th class="col-md-3">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for men in mens %}
                                    <tr>
                                        <td><a href="/user/{{ men.id }}">{{ men.id }}</a></td>
                                        <td>{{ men.name }}</td>
                                        <td>{{ men.getDepartmentString() }}</td>
                                        <td>{{ men.getAppointmentCount() }}</td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog"
             aria-labelledby="upload-modal-label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="upload-modal-label">
                            导入导师信息
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/admin/mentor/upload/xls" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-12">
                                    {{ xlsform.hidden_tag() }}
                                    <div class="row">
                                        <div class="center-block" style="width: 300px">
                                            <div class="form-group form-inline">
                                                <input id="file" name='file' type="file" style="display:none">
                                                <div class="input-append">
                                                    <input id="choosefile" class="form-control" type="text">
                                                    <a class="btn btn-primary" onclick="$('#file').click();">选择文件</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $('#file').change(function () {
                                            $('#choosefile').val($(this).val());
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-12">

                                    <button type="submit" class="btn btn-primary pull-right">
                                        确定
                                    </button>
                                    <button class="btn btn-default pull-right" data-dismiss="modal">
                                        取消
                                    </button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>

{% endblock %}