{% extends "base.html" %}
{% from 'macros.html' import department_options %}

{% block head %}
    <title>导师有约 —— 查看预约</title>
    <link href="/static/lib/css/datepicker.min.css" rel="stylesheet">
    <script src="/static/lib/js/datepicker.min.js"></script>
    <script src="/static/lib/js/datepicker.zh-CN.js"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2>查看预约</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">预约检索</div>
                            </div>

                            <div class="panel-body">
                                <form class="form-horizontal" method="post">
                                    <fieldset>
                                        <legend>检索方式</legend>
                                        {{ form.hidden_tag() }}
                                        <div id="type_status" class="row">
                                            <div class="col-md-12">
                                                <h4>状态</h4>
                                                <select id="status" name="status" class="form-control">
                                                    <option value="ALL" selected="selected">全部</option>
                                                    <option value="0">未审核</option>
                                                    <option value="1">通过</option>
                                                    <option value="2">拒绝</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div id="type_department" class="row">
                                            <div class="col-md-12">
                                                <h4>学院</h4>
                                                <select id="department" name="department" class="form-control">
                                                    {{ department_options() }}
                                                </select>
                                            </div>
                                        </div>
                                        <div id="type_time_date" class="row">
                                            <div class="col-md-12">
                                                <h4>日期</h4>
                                                <input id="use_date" name="use_date" type="checkbox">使用日期筛选
                                                <input id="time_date_string" name="time_date_string" type="text"
                                                       class="form-control"><br/>

                                                <script type="text/javascript">
                                                    $("#time_date_string").datepicker({
                                                        autoPick: true,
                                                        autoHide: true,
                                                        format: "yyyy-mm-dd",
                                                        language: 'zh-CN'
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <br>
                                                <button type="submit" class="btn btn-primary" style="width: 100%">搜索
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table id="table_appointments" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1">学生学号</th>
                                <th class="col-md-1">学号姓名</th>
                                <th class="col-md-1">预约日期</th>
                                <th class="col-md-3">预约原因</th>
                                <th class="col-md-1">预约状态</th>
                                <th class="col-md-3">回复</th>
                                <th class="col-md-2">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for appointment in appointments %}
                                <tr>
                                    <td>{{ appointment.stu_id }}</td>
                                    <td>{{ appointment.stu_name }}</td>
                                    <td>{{ appointment.time_date }}</td>
                                    <td>{{ appointment.description }}</td>
                                    <td>
                                        {% if appointment.status == 0 %}
                                            <span style="color: blue">未审核</span>
                                        {% elif appointment.status == 1 %}
                                            <span style="color: green">通过</span>
                                        {% elif appointment.status == 2 %}
                                            <span style="color: red">未通过</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ appointment.replytext }}</td>
                                    <td>
                                        {% if appointment.status == 0 %}
                                            <a href="/appointment/{{ appointment.id }}/exa"
                                               class="btn btn-primary btn-sm">审批</a>
                                        {% elif appointment.status == 1 %}
                                            <a href="/appointment/{{ appointment.id }}/exa"
                                               class="btn btn-default btn-sm">查看/总结</a>
                                        {% elif appointment.status == 2 %}
                                            <a href="/appointment/{{ appointment.id }}/exa"
                                               class="btn btn-default btn-sm">查看</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>



{% endblock %}