{% extends "base.html" %}
{% from 'macros.html' import department_options,tag1_options,tag2_options %}

{% block head %}
    <title>导师有约 —— 导师预约</title>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2>导师预约</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">导师检索</div>
                            </div>
                            <div class="panel-body">

                                <form class="form-horizontal" method="post">
                                    <fieldset>
                                        <legend>检索方式</legend>
                                        {{ form.hidden_tag() }}
                                        <div class="row" id="type_department">
                                            <div class="col-md-12">
                                                <h4>学院</h4>
                                                <select id="department" name="department" class="form-control">
                                                    {{ department_options() }}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" id="type_tag1">
                                            <div class="col-md-12">
                                                <h4>大类标签</h4>
                                                <select id="tag1" name="tag1" class="form-control">
                                                    {{ tag1_options() }}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row" id="type_tag2">
                                            <div class="col-md-12">
                                                <h4>细分标签</h4>
                                                <select id="tag2" name="tag2" class="form-control">
                                                    {{ tag2_options() }}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <br>
                                                <button type="submit" class="btn btn-primary" style="width: 100%">搜索
                                                </button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table id="table_mentors" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-2">教师姓名</th>
                                <th class="col-md-3">院系(职务)</th>
                                <th class="col-md-2">预约数</th>
                                <th class="col-md-2">好评度</th>
                                <th class="col-md-3">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for men in mens %}
                                <tr>
                                    <td><a href="/user/{{ men.id }}">{{ men.name }}</a></td>
                                    <td>{{ men.department }}({{ men.title }})</td>
                                    <td>{{ men.appointment_num }}</td>
                                    <td>{{ men.score }}%</td>
                                    <td><a href="/appointment/new/{{ men.id }}" class="btn btn-primary btn-sm">预约</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>



{% endblock %}
