{% extends "base.html" %}

{% block head %}
    <title>导师有约 —— 查看预约单</title>
    <link href="/static/lib/css/bootstrap-slider.min.css" rel="stylesheet"/>
    <script src="/static/lib/js/bootstrap-slider.min.js"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption">

                        <div class="row">
                            <div class="col-md-12">
                                <h3>学生{{ appointment.stu.name }}的预约单</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-title">个人信息</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>学号 : {{ appointment.stu.id }}</p>
                                                <p>姓名 : {{ appointment.stu.name }}</p>
                                                <p>学院 : {{ appointment.stu.getDepartmentString() }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-title">预约信息</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>预约时间 : {{ appointment.time_time.strftime("%Y-%m-%d %H:%M") }}</h4>
                                                <h4>预约原因 : </h4>
                                                <p>{{ appointment.description }}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-title">审批信息</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if appointment.status == 0 %}
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4>
                                                                预约状态 : <span style="color: blue">等待中</span>
                                                            </h4>
                                                            <a href="/appointment/{{ appointment.id }}/delete"
                                                               class="btn btn-danger" style="width: 100%;">撤销预约</a>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4>
                                                                审批结果 :
                                                                {% if appointment.status==1 %}
                                                                    <span style="color: green">通过</span>
                                                                {% elif appointment.status==2 %}
                                                                    <span style="color: red">拒绝</span>
                                                                {% endif %}
                                                            </h4>
                                                            <h4>导师批注 : </h4>
                                                            <p>{{ appointment.replytext }}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if appointment.canScore() %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-primary">
                                        <div class="panel-heading">
                                            <div class="panel-title">评分</div>
                                        </div>
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-md-3">
                                                    <h4>评分 : </h4>
                                                </div>
                                                <div class="col-md-9">
                                                    <input id="score" name="score" type="text"
                                                           data-slider-ticks="[20, 40, 60, 80, 100]"
                                                           data-slider-ticks-snap-bounds="30"
                                                           data-slider-ticks-labels='["非常失望", "失望", "一般", "满意", "非常满意"]'/>
                                                    <script>
                                                        $("#score").slider({
                                                            ticks: [20, 40, 60, 80, 100],
                                                            ticks_labels: ["非常失望", "失望", "一般", "满意", "非常满意"],
                                                            ticks_snap_bounds: 30
                                                        });
                                                    </script>
                                                    <br/><br/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div onclick="score_submit()" class="btn btn-success"
                                                         style="width: 100%">提交评分
                                                    </div>
                                                    <script>
                                                        var csrftoken = "{{ csrf_token()|safe }}";

                                                        function score_submit() {
                                                            $.post({
                                                                url: "/ajax/appointment/{{ appointment.id|safe }}/score",
                                                                data: "score=" + $("#score").val(),
                                                                async: false,
                                                                beforeSend: function (xhr, settings) {
                                                                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                                                                },
                                                                error: function (request) {
                                                                    alert("评分失败![网络错误]");
                                                                },
                                                                success: function (data) {
                                                                    if (data.status == 20000) {
                                                                        alert("评分成功!");
                                                                    }
                                                                    else {
                                                                        alert("评分失败![数据错误]");
                                                                    }
                                                                }
                                                            });
                                                        }
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% elif appointment.score != 0 %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-primary">
                                        <div class="panel-heading">
                                            <div class="panel-title">评分</div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4>评分 : {{ appointment.score }}</h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}