{% extends "base.html" %}

{% block head %}
    <title>导师有约 —— 查看预约单</title>
    <link href="/static/lib/css/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <script src="/static/lib/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/static/lib/js/locales/bootstrap-datetimepicker.zh-CN.js"
            charset="UTF-8"></script>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption">

                        <div class="row">
                            <div class="col-md-12">
                                <h3>学生{{ appointment.stu.name }}的预约单</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-title">个人信息</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>学号 : {{ appointment.stu.id }}</p>
                                                <p>姓名 : {{ appointment.stu.name }}</p>
                                                <p>学院 : {{ appointment.stu.getDepartmentString() }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-title">预约信息</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>预约时间 : {{ appointment.time_date.strftime("%Y-%m-%d") }}</h4>
                                                <h4>预约原因 : </h4>
                                                <p>{{ appointment.description }}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-primary">
                                    <div class="panel-heading">
                                        <div class="panel-title">审批信息</div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% if appointment.status == 0 %}
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4>
                                                                预约状态 : <span style="color: blue">等待中</span>
                                                            </h4>
                                                            <a href="/appointment/{{ appointment.id }}/delete"
                                                               class="btn btn-danger" style="width: 100%;">撤销预约</a>
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4>
                                                                审批结果 :
                                                                {% if appointment.status==1 %}
                                                                    <span style="color: green">通过</span>
                                                                {% elif appointment.status==2 %}
                                                                    <span style="color: red">拒绝</span>
                                                                {% endif %}
                                                            </h4>
                                                            <h4>导师批注 : </h4>
                                                            <p>{{ appointment.replytext }}</p>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}