{% extends "base.html" %}
{% from 'macros.html' import department_all_options %}

{% block head %}
    <title>导师有约 —— 我的团体课</title>
    <link href="/static/lib/css/datepicker.min.css" rel="stylesheet">
    <script src="/static/lib/js/datepicker.min.js"></script>
    <script src="/static/lib/js/datepicker.zh-CN.js"></script>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h2>查看团体课</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">团体课检索</div>
                            </div>
                            <div class="panel-body">

                                <form class="form-horizontal" method="post">
                                    <fieldset>
                                        <legend>条件检索</legend>
                                        {{ form.hidden_tag() }}

                                        <div class="form-group">
                                            <label for="time_date_string" class="col-md-3 control-label">日期</label>
                                            <div class="col-md-6">
                                                <input id="use_date" name="use_date" type="checkbox">使用日期筛选
                                                <input id="time_date_string" name="time_date_string" type="text"
                                                       class="form-control"><br/>
                                                <script type="text/javascript">
                                                    $("#time_date_string").datepicker({
                                                        autoPick: true,
                                                        autoHide: true,
                                                        format: "yyyy-mm-dd",
                                                        language: 'zh-CN'
                                                    });
                                                </script>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary" style="width: 100%">搜索
                                                </button>
                                            </div>
                                        </div>


                                    </fieldset>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table id="table_courses" class="table table-striped">
                            <thead>
                            <tr>
                                <th class="col-md-1">团体课名</th>
                                <th class="col-md-1">主讲人</th>
                                <th class="col-md-3">课程描述</th>
                                <th class="col-md-1">课程地点</th>
                                <th class="col-md-2">开始时间</th>
                                <th class="col-md-2">结束时间</th>
                                <th class="col-md-1">已选/容量</th>
                                <th class="col-md-1">操作</th>
                            </tr>
                            </thead>
                            <tbody>


                            {% for course in courses %}
                                <tr>
                                    <td>{{ course.name }}</td>
                                    <td>{{ course.men_name }}</td>
                                    <td>{{ course.description }}</td>
                                    <td>{{ course.location }}</td>
                                    <td>{{ course.time_start }}</td>
                                    <td>{{ course.time_end }}</td>
                                    <td>{{ course.signednum }}/{{ course.capacity }}</td>
                                    <td>
                                        <a href="/course/{{ course.id }}/delete" class="btn btn-danger btn-sm">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

