{% extends "base.html" %}
{% from "macros.html" import hour_options,minute_options %}

{% block head %}
    <title>导师有约 —— 创建团体课</title>
    <link href="/static/lib/css/datepicker.min.css" rel="stylesheet">
    <script src="/static/lib/js/datepicker.min.js"></script>
    <script src="/static/lib/js/datepicker.zh-CN.js"></script>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <form class="form-horizontal" method="POST">
                            <fieldset>
                                <legend>创建团体课</legend>
                                {{ form.hidden_tag() }}

                                <div class="form-group">
                                    <label for="name" class="col-md-3 control-label">团体课名称</label>
                                    <div class="col-md-6">
                                        {{ form.name(class='form-control') }}<br/>
                                        {% for e in form.name.errors %}
                                            <span style='color:red'>*{{ e }}</span><br/>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="capacity" class="col-md-3 control-label">团体课容量</label>
                                    <div class="col-md-6">
                                        <input id="capacity" name="capacity" type="number" min="0" step="10" value="0"
                                               class="form-control"/><br/>
                                        {% for e in form.capacity.errors %}
                                            <span style='color:red'>*{{ e }}</span><br/>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="description" class="col-md-3 control-label">团体课简介</label>
                                    <div class="col-md-6">
                                    <textarea id="description" name="description" rows="6"
                                              class="form-control"></textarea><br/>
                                        {% for e in form.description.errors %}
                                            <span style='color:red'>*{{ e }}</span><br/>
                                        {% endfor %}
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="time_date_string" class="col-md-3 control-label">课程日期</label>
                                    <div class="col-md-6">

                                        <input id="time_date_string" name="time_date_string" type="text"
                                               class="form-control"><br/>

                                        <script type="text/javascript">
                                            var date_start = new Date();
                                            date_start.setDate(date_start.getDate() + 2);
                                            $("#time_date_string").datepicker({
                                                autoHide: true,
                                                format: "yyyy-mm-dd",
                                                startDate: date_start,
                                                language: 'zh-CN'
                                            });
                                        </script>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="time_start_h" class="col-md-3 control-label">课程开始时间</label>
                                    <div class="col-md-3">
                                        <select id="time_start_h" name="time_start_h" class="form-control">
                                            {{ hour_options() }}
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <h4>:</h4>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="time_start_m" name="time_start_m" class="form-control">
                                            {{ minute_options() }}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="time_end_h" class="col-md-3 control-label">课程结束时间</label>
                                    <div class="col-md-3">
                                        <select id="time_end_h" name="time_end_h" class="form-control">
                                            {{ hour_options() }}
                                        </select>
                                    </div>
                                    <div class="col-md-1">
                                        <h4>:</h4>
                                    </div>
                                    <div class="col-md-3">
                                        <select id="time_end_m" name="time_end_m" class="form-control">
                                            {{ minute_options() }}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}