{% extends "base.html" %}

{% block head %}
    <title>导师有约 —— 修改密码</title>
    <link type="text/css" href="/static/lib/css/strength-meter.min.css"/>
    <script type="text/javascript" src="/static/lib/js/strength-meter.min.js"></script>

{% endblock %}


{% block content %}

    <script>
        function validate() {
            var pw1 = document.getElementById("password_new").value;
            var pw2 = document.getElementById("password_confirm").value;
            if (pw1 == pw2) {
                document.getElementById("tishi").innerHTML = "<font color='green'></font>";
                document.getElementById("submit").disabled = false;
            }
            else {
                document.getElementById("tishi").innerHTML = "<font color='red'>两次密码不一致</font>";
                document.getElementById("submit").disabled = true;
            }
        }
    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="caption">
                        <form class="form-horizontal" method="POST">
                            <fieldset>
                                <legend>修改密码</legend>
                                {{ form.hidden_tag() }}
                                <div class="form-group">
                                    <label for="oldpassword" class="col-md-3 control-label">旧密码</label>
                                    <div class="col-md-6">
                                        {{ form.password_old(class='form-control') }}<br/>
                                        {% for e in form.password_old.errors %}
                                            <span style='color:red'>*{{ e }}</span><br/>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">新密码</label>
                                    <div class="col-md-8">
                                        {{ form.password_new(class='form-control strength') }}<br/>
                                        {% for e in form.password_new.errors %}
                                            <span style='color:red'>*{{ e }}</span><br/>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password_confirm" class="col-md-3 control-label">确认密码</label>
                                    <div class="col-md-6">
                                        {{ form.password_confirm(class='form-control',onkeyup="validate()") }}<br/>
                                        {% for e in form.password_confirm.errors %}
                                            <span style='color:red'>*{{ e }}</span><br/>
                                        {% endfor %}
                                        <span id="tishi"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="identifyingcode" class="col-md-3 control-label">验证码</label>
                                    <div class="col-md-6">
                                        {{ form.identifyingcode(class='form-control text-uppercase') }}<br/>
                                        {% for e in form.identifyingcode.errors %}
                                            <span style='color:red'>*{{ e }}</span><br/>
                                        {% endfor %}
                                        <img id="identifyingcode_img" src="#" onclick="ajax_identifyingcode()">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button id="submit" type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var csrftoken = "{{ csrf_token()|safe }}";

        function ajax_identifyingcode() {
            var data = {};
            $.ajax({
                type: 'POST',
                url: "/ajax/" + "getIdentifyingcode",
                data: data,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    //Croxx:这段代码用来设置CSRF-TOKEN 务必保留
                },
                success: function (data) {
                    $('#identifyingcode_img').attr('src', data.code_uri)
                },
                error: function (xhr, type) {
                }
            });
        }

        jQuery(document).ready(function () {
            ajax_identifyingcode();
        })
        ;
    </script>


{% endblock %}