{% macro user_block(user) %}

    <div class="thumbnail">
        <div class="caption">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail" style="width: 75px;height:105px;margin: 0px;padding: 0px;"
                         src="/static/res/user/{{ user.id }}/avatar.png"/>
                </div>
                <div class="col-md-8">
                    <h4 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        <strong>{{ user.name }}</strong>&nbsp;[{{ user.title }}]
                    </h4>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.getDepartmentString() }}
                    </h5>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.description }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro user_block_detail(user) %}

    <div class="thumbnail">
        <div class="caption">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail" style="width: 75px;height:105px;margin: 0px;padding: 0px;"
                         src="/static/res/user/{{ user.id }}/avatar.png"/>
                </div>
                <div class="col-md-8">
                    <h4 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        <strong>{{ user.name }}</strong>&nbsp;[{{ user.title }}]
                    </h4>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.department }}
                    </h5>
                    <h5>
                        {{ user.description }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro user_block_with_modal_appointment_new(user,form) %}
    <div class="thumbnail btn" data-toggle="modal"
         data-target="#modal-new-{{ user.id }}" style="text-align: left">
        <div class="caption">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail" style="width: 75px;height:105px;margin: 0px;padding: 0px;"
                         src="/static/res/user/{{ user.id }}/avatar.png"/>
                </div>
                <div class="col-md-8">
                    <h4 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        <strong>{{ user.name }}</strong>&nbsp;[{{ user.title }}]
                    </h4>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.getDepartmentString() }}
                    </h5>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.description }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-new-{{ user.id }}" tabindex="-1" role="dialog"
         aria-labelledby="modal-new-{{ user.id }}-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" id="modal-new-{{ user.id }}-label">
                        预约导师
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>预约理由</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id='form-{{ user.id }}-description' class="form-control" rows="8"></textarea>
                            <br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn btn-default pull-right" data-dismiss="modal"> 取消</div>
                            <div class="btn btn-primary pull-right" onclick="ajax_form_{{ user.id }}_submit()">提交</div>
                        </div>

                    </div>


                    <script>
                        var csrftoken = "{{ csrf_token()|safe }}";

                        function ajax_form_{{ user.id }}_submit() {

                            $('#modal-new-{{ user.id }}').modal('hide');

                            $.ajax({
                                type: "POST",
                                url: "/ajax/appointment/new",
                                data: "men_id={{ user.id }}" + "&" + "description=" + $('#form-{{ user.id }}-description').val(),
                                dataType: 'json',
                                async: false,
                                beforeSend: function (xhr, settings) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                },
                                error: function (request) {
                                    alert("预约失败！[网络错误]");
                                },
                                success: function (data) {
                                    if (data.status == 20000) {
                                        alert("预约成功！");
                                    } else {
                                        alert("预约失败！[数据错误]")
                                    }

                                }
                            });


                        }
                    </script>


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endmacro %}














