{% macro user_block(user) %}

    <div class="thumbnail">
        <div class="caption">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail" style="width: 75px;height:105px;margin: 0px;padding: 0px;"
                         src="/static/res/user/{{ user.id }}/avatar.png"/>
                </div>
                <div class="col-md-8">
                    <h4 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        <strong>{{ user.name }}</strong>&nbsp;[{{ user.title }}]
                    </h4>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.getDepartmentString() }}
                    </h5>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.description }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro user_block_detail(user) %}

    <div class="thumbnail">
        <div class="caption">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail" style="width: 75px;height:105px;margin: 0px;padding: 0px;"
                         src="/static/res/user/{{ user.id }}/avatar.png"/>
                </div>
                <div class="col-md-8">
                    <h4 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        <strong>{{ user.name }}</strong>&nbsp;[{{ user.title }}]
                    </h4>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.department }}
                    </h5>
                    <h5>
                        {{ user.description }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro user_block_with_modal_appointment_new(user,form) %}
    <div class="thumbnail btn" data-toggle="modal"
         data-target="#modal-new-{{ user.id }}" style="text-align: left">
        <div class="caption">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail" style="width: 75px;height:105px;margin: 0px;padding: 0px;"
                         src="/static/res/user/{{ user.id }}/avatar.png"/>
                </div>
                <div class="col-md-8">
                    <h4 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        <strong>{{ user.name }}</strong>&nbsp;[{{ user.title }}]
                    </h4>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.getDepartmentString() }}
                    </h5>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.description }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-new-{{ user.id }}" tabindex="-1" role="dialog"
         aria-labelledby="modal-new-{{ user.id }}-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h3 class="modal-title" id="modal-new-{{ user.id }}-label">
                        预约导师
                    </h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>预约理由</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea id='form-{{ user.id }}-description' class="form-control" rows="8"></textarea>
                            <br/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn btn-default pull-right" data-dismiss="modal"> 取消</div>
                            <div class="btn btn-primary pull-right" onclick="ajax_form_{{ user.id }}_submit()">提交</div>
                        </div>

                    </div>


                    <script>
                        var csrftoken = "{{ csrf_token()|safe }}";

                        function ajax_form_{{ user.id }}_submit() {

                            $('#modal-new-{{ user.id }}').modal('hide');

                            $.ajax({
                                type: "POST",
                                url: "/ajax/appointment/new",
                                data: "men_id={{ user.id }}" + "&" + "description=" + $('#form-{{ user.id }}-description').val(),
                                dataType: 'json',
                                async: false,
                                beforeSend: function (xhr, settings) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                },
                                error: function (request) {
                                    alert("预约失败！[网络错误]");
                                },
                                success: function (data) {
                                    if (data.status == 20000) {
                                        alert("预约成功！");
                                    } else {
                                        alert("预约失败！[数据错误]")
                                    }

                                }
                            });


                        }
                    </script>


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endmacro %}

{% macro department_options() %}
    <option value="1">1-材料科学与工程学院</option>
    <option value="2">2-电子信息工程学院</option>
    <option value="3">3-自动化科学与电气工程学院</option>
    <option value="4">4-能源与动力工程学院</option>
    <option value="5">5-航空科学与工程学院</option>
    <option value="6">6-计算机学院</option>
    <option value="7">7-机械工程及自动化学院</option>
    <option value="8">8-经济管理学院</option>
    <option value="9">9-数学与系统科学学院</option>
    <option value="10">10-生物与医学工程学院</option>
    <option value="11">11-人文社会科学学院</option>
    <option value="12">12-外国语学院</option>
    <option value="13">13-交通科学与工程学院</option>
    <option value="14">14-可靠性与系统工程学院</option>
    <option value="15">15-宇航学院</option>
    <option value="16">16-飞行学院</option>
    <option value="17">17-仪器科学与光电工程学院</option>
    <option value="18">18-北京学院</option>
    <option value="19">19-物理科学与核能工程学院</option>
    <option value="20">20-法学院</option>
    <option value="21">21-软件学院</option>
    <option value="22">22-现代远程教育学院</option>
    <option value="23">23-高等理工学院</option>
    <option value="24">24-中法工程师学院</option>
    <option value="25">25-国际学院</option>
    <option value="26">26-新媒体艺术与设计学院</option>
    <option value="27">27-化学与环境学院</option>
    <option value="28">28-马克思主义学院</option>
    <option value="29">29-人文与社会科学高等研究院</option>
    <option value="30">30-空间与环境学院</option>
    <option value="35">35-国际通用工程学院</option>
    <option value="37">37-北航学院</option>
    <option value="73">73-士谔书院</option>
    <option value="74">74-冯如书院</option>
    <option value="75">75-士嘉书院</option>
    <option value="76">76-守锷书院</option>
    <option value="77">77-致真书院</option>
    <option value="79">79-知行书院</option>

{% endmacro %}

{% macro hour_options() %}

    {% for i in range(24) %}
        <option value="{{ i }}">{{ i }}</option>
    {% endfor %}

{% endmacro %}

{% macro minute_options() %}

    <option value="0">00</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>

{% endmacro %}







