{% macro user_block(user) %}

    <div class="thumbnail">
        <div class="caption">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail" style="width: 75px;height:105px;margin: 0px;padding: 0px;"
                         src="/static/res/user/{{ user.id }}/avatar.png"/>
                </div>
                <div class="col-md-8">
                    <h4 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        <strong>{{ user.name }}</strong>&nbsp;[{{ user.title }}]
                    </h4>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.getDepartmentString() }}
                    </h5>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.description }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro user_block_detail(user) %}

    <div class="thumbnail">
        <div class="caption">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-thumbnail" style="width: 75px;height:105px;margin: 0px;padding: 0px;"
                         src="/static/res/user/{{ user.id }}/avatar.png"/>
                </div>
                <div class="col-md-8">
                    <h4 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        <strong>{{ user.name }}</strong>&nbsp;[{{ user.title }}]
                    </h4>
                    <h5 style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap">
                        {{ user.department }}
                    </h5>
                    <h5>
                        {{ user.description }}
                    </h5>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro department_options() %}
    <option value="ALL">全部</option>
    <option value="010100">1-材料科学与工程学院</option>
    <option value="010200">2-电子信息工程学院</option>
    <option value="010300">3-自动化科学与电气工程学院</option>
    <option value="010400">4-能源与动力工程学院</option>
    <option value="010500">5-航空科学与工程学院</option>
    <option value="010600">6-计算机学院</option>
    <option value="010700">7-机械工程及自动化学院</option>
    <option value="010800">8-经济管理学院</option>
    <option value="010900">9-数学与系统科学学院</option>
    <option value="011000">10-生物与医学工程学院</option>
    <option value="011100">11-人文社会科学学院（公共管理学院）</option>
    <option value="011200">12-外国语学院</option>
    <option value="011300">13-交通科学与工程学院</option>
    <option value="011400">14-可靠性与系统工程学院</option>
    <option value="011500">15-宇航学院</option>
    <option value="011600">16-飞行学院</option>
    <option value="011700">17-仪器科学与光电工程学院</option>
    <option value="011800">18-北京学院</option>
    <option value="011900">19-物理科学与核能工程学院</option>
    <option value="012000">20-法学院</option>
    <option value="012100">21-软件学院</option>
    <option value="012200">22-继续教育学院</option>
    <option value="012300">23-高等理工学院</option>
    <option value="012400">24-中法工程师学院</option>
    <option value="012500">25-国际学院</option>
    <option value="012600">26-新媒体艺术与设计学院</option>
    <option value="012700">27-化学学院</option>
    <option value="012800">28-马克思主义学院</option>
    <option value="012900">29-无人机研究所</option>
    <option value="013000">30-工程训练中心</option>
    <option value="013100">31-体育部</option>
    <option value="013200">32-人文与社会科学高等研究院</option>
    <option value="013300">33-空间与环境学院</option>
    <option value="013400">34-北斗丝路学院</option>
    <option value="013500">35-国际通用工程学院</option>
    <option value="013700">37-北航学院</option>
    <option value="013800">38-医工交叉创新研究院</option>
    <option value="017300">73-士谔书院</option>
    <option value="017400">74-冯如书院</option>
    <option value="017500">75-士嘉书院</option>
    <option value="017600">76-守锷书院</option>
    <option value="017700">77-致真书院</option>
    <option value="017900">79-知行书院</option>
{% endmacro %}

{% macro department_all_options() %}
    {{ getOptions_department_all()|safe }}
{% endmacro %}

{% macro tag1_options() %}
    {{ getOptions_tag1()|safe }}
{% endmacro %}

{% macro tag2_options() %}
    {{ getOptions_tag2()|safe }}
{% endmacro %}

{% macro hour_options() %}

    {% for i in range(24) %}
        <option value="{{ i }}">{{ i }}</option>
    {% endfor %}

{% endmacro %}

{% macro minute_options() %}

    <option value="0">00</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="40">40</option>
    <option value="50">50</option>

{% endmacro %}

{% macro type_options() %}
    <option value="0">其他类</option>
    <option value="1">学业类</option>
    <option value="2">心理类</option>
    <option value="3">成长类</option>
{% endmacro %}

{% macro tagtable(tag1,tag2list) %}
    <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>

        <!-- Table -->
        <table class="table">
            ...
        </table>
    </div>
{% endmacro %}



